* {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    gap: 50px;
}

h1 {
    font-size: 3rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

main div {
    border: 1px solid black;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.btnreset {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(37, 37, 57, 0.15);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.message {
    font-size: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(6, 78, 59, 0.15);
}

.winner {
    font-size: 2rem;
    border-radius: 8px;
    font-weight: bold;
    color: darkgreen;
}

.frozen {
    pointer-events: none;
    opacity: 0.6;
    filter: grayscale(50%);
}
