* {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    gap: 50px;
}

h1 {
    font-size: 3rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

main div {
    border: 1px solid black;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.btnreset {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 8px;
}
